*{                       /* * is universal effect for accessing whole folder*/
    padding: 0;
    margin:0;
    font-family: 'Cardo', serif;
}

.backImg{
    width:100%;
    height:100vh;   /* vh is used to cover whole screen */
    background-color: #4541d0;
    background-image: linear-gradient(43deg, #4541d0 0%, #b023c5 46%, #7e70ff 100%) !important;
    background-size:cover;
    display: flex;
    color:whitesmoke;
    align-items: center;
    justify-content:center;
    text-align: center;
    

}
.profile{
    width: 500px;
    background-color: rgba(0,0,0,0.4);
    /*rgbaisusedtogiveopacity*/padding: 30px;
    border-radius:10%;
    10webkit-border-radius:10% ;
    -moz-border-radius:10%;
    -ms-border-radius:10%;
    -o-border-radius:10%;
    -webkit-border-radius:10%;
}
img{  
    height:300px;
    border-radius:70%;
    margin-bottom: 10px;
}

i{
    color: white;
}
.profileText {
    margin-bottom: 10px;
}
.profileText h2{
    font-size:2em;
    margin-bottom: 5px;

}

.profileText h3{
    font-size:1.2em;
    margin-bottom: 5px;
}